<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>Recipe & Nutrition Database</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="../js/app.js" type="text/javascript"></script>
        <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><a href="/" class="navbar-brand">Recipe & Nutrition Database</a></div>
            </div>
        </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron">
                <div ng-controller="recipeController" ng-init="recipeInfo()">
                    <h2>{{title}}</h2>
                    <h5>{{!!desc.trim() ? desc : "Try this delicious " + title.trim() + "!"}}</h5> 
                    <div ng-if="rating == 1">
                        <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div ng-if="rating == 2">
                        <span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div ng-if="rating == 3">
                        <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
                    </div>
                    <div ng-if="rating == 4">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                    </div>
                    <div ng-if="rating == 5">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <h5>Instructions:</h5>
                    <ul>
                        <li ng-repeat="item in instructions">{{item}}</li>
                    </ul>
                    <h5>Ingredients:</h5>
                    <table border="0" ng-table="vm.tableParams" class="table" show-filter="true" cellpadding="10" cellspacing="1" width="500" align="center"> 
                        <tr> 
                        <td> <b>Name</b> </td>
                        <td> <b>Energy (kcal)</b></td>
                        <td> <b>Total Fat (g)</b></td>
                        <td> <b>Carbohydrates (g)</b></td>
                        <td> <b>Total Sugar (g)</b></td>
                        <td> <b>Fiber (g)</b></td>
                        <td> <b>Protein (g)</b></td>
                        <td> <b>Sodium (g)</b></td>
                        <td> <b>Potassium (g)</b></td>
                        <tr ng-repeat="x in data"> 
                        <td>{{x.ingredient}}</td>
                        <td> {{cals != "N/A" ? (x.energy * conv) / (energy / cals) : x.energy * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.fat * conv) / (energy / cals) : x.fat * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.carbohydrates * conv) / (energy / cals) : x.carbohydrates * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.sugar * conv) / (energy / cals) : x.sugar * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.fiber * conv) / (energy / cals) : x.fiber * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.protein * conv) / (energy / cals) : x.protein * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.sodium * conv / 1000) / (energy / cals) : x.sodium * conv | number:0}} </td>
                        <td> {{cals != "N/A" ? (x.potassium * conv) / 1000 / (energy / cals) : x.potassium * conv | number:0}} </td>
                        </tr>
                        <tr>
                            <td><b>Total:</b></td>
                            <td><b>{{cals != "N/A" ? energy / (energy / cals) : energy | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? fat / (energy / cals) : fat | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? carbs / (energy / cals) : carbs | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? sugar / (energy / cals) : sugar | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? fiber / (energy / cals) : fiber | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? protein / (energy / cals) : protein | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? sodium / (energy / cals) : sodium | number:0}}</b></td>
                            <td><b>{{cals != "N/A" ? potassium / (energy / cals) : potassium | number:0}}</b></td>
                        </tr>
                    </table>                    
                </div>
            </div>
         </div>
    </body>
</html>